.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 280px;
  background-color: #07b495;
}
.logo {
  width: 100%;
  height: 40px;
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 1.4rem;
}

.personal_container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.profile_name {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: -0.3px;
  text-align: center;
}
.personal_info_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: center;
  margin-top: 15px;
}
